<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta property="og:title" content="Zadania z mechaniki teorytycznej" />
  <meta property="og:description" content="Zbiór zadań z mechaniki teorytycznej" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.4/angular-material.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="app/css/style.css">

</head>
<body layout="column" ng-controller="appController as ctrl" ng-app="myApp" ng-cloak>

<md-toolbar layout="row">
  <div>
    <!--<md-button class="md-icon-button">-->
      <!--<md-icon md-svg-icon=""></md-icon>-->
    <!--</md-button>-->
    <h2 flex layout-align="center center"><strong>Zbiór zadań z Wytrzymałości Materiałów i Mechaniki Teorytycznej</strong></h2>
    <md-menu-bar>

      <md-menu>
        <button ng-click="$mdMenu.open()">
          Zadanie
        </button>
        <md-menu-content>
          <md-button ng-click="ctrl.action(' losowanie zadań ', $event)">
            Losuj Zadanie
          </md-button>
          <md-button>
            Przeglądaj Zadania
          </md-button>
        </md-menu-content>
      </md-menu>

      <md-menu>
        <button ng-click="$mdMenu.open()">
          Tutoriale
        </button>
        <md-menu-content>
          <md-button ng-click="ctrl.action(' tutoriale WM ', $event)">
            Wytrzymałość Materiałów
          </md-button>
          <md-button ng-click="ctrl.action(' tutoriale MT ', $event)">
            Mechanika Teorytyczna
          </md-button>
        </md-menu-content>
      </md-menu>

      <md-menu>
        <button ng-click="$mdMenu.open()">
          Dodaj Zadanie
        </button>
        <md-menu-content>
          <md-button ng-click="ctrl.action(' dodawanie zadań WM ', $event)">
            Dodaj zadanie WM
          </md-button>
          <md-button ng-click="ctrl.action(' dodawanie zadan MT ', $event)">
            Dodaj zadanie MT
          </md-button>
        </md-menu-content>
      </md-menu>

      <md-menu>
        <button ng-click="$mdMenu.open()">
          Pomoce naukowe
        </button>
        <md-menu-content>
          <md-button ng-click="ctrl.action(' wzory i wykresy belek ', $event)">
            Wzory i wykresy belek
          </md-button>
          <md-button ng-click="ctrl.action(' stałe materiałowe ', $event)">
            Stałe materiałowe
          </md-button>
          <md-button ng-click="ctrl.action(' kalkulator jednostek ', $event)">
            Zamiana jednostek
          </md-button>
        </md-menu-content>
      </md-menu>

    </md-menu-bar>
  </div>
</md-toolbar>

<md-content layout="row" layout-padding ng-controller="RightCtrl" style="height: 500px">
  <md-sidenav layout="column" class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">

    <md-toolbar class="md-theme-light">
      <h1 class="md-toolbar-tools">Sidenav Right</h1>
    </md-toolbar>
    <md-content layout-padding>
      <form>
        <md-input-container>
          <label for="testInput">Test input</label>
          <input type="text" id="testInput"
                 ng-model="data" md-autofocus>
        </md-input-container>
      </form>
      <md-button ng-click="close()" class="md-primary">
        Close Sidenav Right
      </md-button>
    </md-content>

  </md-sidenav>
  <md-button ng-click="toggleRight()"
             ng-hide="isOpenRight()"
             class="md-primary">
    Toggle right
  </md-button>
</md-content>




<script src="bower_components/angular/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.4/angular-material.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular-aria.min.js"></script>
<script src="app/js/app.js"></script>
<script src="app/components/version/version.js"></script>
<script src="app/components/version/version-directive.js"></script>
<script src="app/components/version/interpolate-filter.js"></script>
</body>
</html>
